/* home */
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
  align-items: center;
}
h3.hello {
  flex: 0 0 60%;
  max-width: 60%;
}
h3.hello span {
  font-family: "Raleway", cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}
h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}
.typing {
  color: var(--skin-color);
}
.home-info p {
  margin-bottom: 70px;
  font-size: 19px;
  color: var(--text-black-700);
}
.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}
.home-img::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  left: 20px;
  top: -40px;
}
.home-img::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: 20px;
  bottom: -40px;
}
.home .home-img img {
  margin: auto;
  border-radius: 5px;
  height: 400px;
  max-width: 75%;
  background: red;
  text-align: center;
  /* position: relative; */
}
/* .home .home-img img {
  height: 400px;
} */

@media (max-width: 1124px) {
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img {
    flex: 0 0 100%;
    max-width: 60%;
    margin-top: 60px;

    /* display: none; */
  }
}
@media (max-width: 991px) {
  .home .home-img {
    max-width: 70%;
  }
  .home .home-img::after,
  .home .home-img::before {
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 768px) {
  .home .home-img {
    max-width: 100%;
  }
}
@media (max-width: 339px) {
  .home .home-img {
    max-width: 100%;
  }
  .home .home-img::after,
  .home .home-img::before {
    height: 40px;
    width: 40px;
  }
}
